.containter {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .name {
    font-size: 70%;
  }
  .project {
    padding: 5px;
    width: 97%;
  }
}
@media screen and (min-width: 601px) {
  .name {
    font-size: 90%;
  }
  .mockup,
  .animal,
  .pam {
    width: 33.3%;
  }
}
@media screen and (min-width: 800px) {
  .project {
    padding: 5px;
    width: 97%;
  }
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
